<nav class="relative px-4 py-4 flex justify-between items-center bg-gray-800">
    <a class="hidden lg:inline-block py-2 px-6 bg-red-500 hover:bg-red-800 text-sm text-white font-bold rounded-xl transition duration-200" href="/" >Volver</a>
</nav>

<div class="bg-gray-50 px-6 py-14">
    
    <div class="sm:mx-auto sm:w-full sm:max-w-xl shadow dark:border ">
        <img class="mx-auto h-auto w-auto" src="../../assets/logo3.png" alt="Your Company">
        <h1 class="mt-5 text-center text-2xl font-bold leading-9 tracking-tight text-gray-700">Registro Nuevo Comercio</h1>
    
    
    
    <div class="w-full bg-white rounded-lg  md:mt-0 sm:max-w-xl xl:p-0 ">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
            <form [formGroup]="comercioForm" class="space-y-4 md:space-y-6" (ngSubmit)="submitForm()" enctype="multipart/form-data">
                
              <!-- Nombre -->
              <div>
                    <label for="nombre" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre Comercio*</label>
                    <input formControlName="nombre" type="nombre" name="nombre" id="nombre" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Nombre Comercio" required>
                    <div *ngIf="comercioForm.get('nombre')?.hasError('required') && comercioForm.get('nombre')?.touched" class="error-message" class="text-red-500 text-sm">
                      El nombre del comercio es obligatorio.
                    </div>
                    <div *ngIf="comercioForm.get('nombre')?.hasError('pattern') && comercioForm.get('nombre')?.touched" class="error-message" class="text-red-500 text-sm">
                        El nombre del comercio no puede contener símbolos.
                    </div>
                    <div *ngIf="comercioForm.get('nombre')?.hasError('maxlength')" class="error-message text-red-500 text-sm">
                        El nombre del comercio no puede tener más de 50 caracteres.
                    </div>
              </div>

              <!-- Tipo Comercio -->
              <div>
                    <label for="tiposComercios" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tipo Comercio*</label>
                    <div class="relative">
                        <ul class="w-48 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                            <li *ngFor="let tipo of tiposComercios" class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600">
                              <div class="flex items-center ps-3">
                                <label [for]="'tiposComercios-' + tipo" class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                                  <input 
                                    type="checkbox" 
                                    [checked]="getFormControl('tipoComerciosSeleccionados.' + tipo).value"
                                    (change)="toggleCheckbox('tipoComerciosSeleccionados.' + tipo)"
                                    [id]="'tiposComercios-' + tipo"
                                    [name]="'tiposComercios-' + tipo"
                                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                  {{ tipo }}
                                </label>
                              </div>
                            </li>
                          </ul>    
                    </div>
                    <div *ngIf="comercioForm.get('tipoComerciosSeleccionados')?.hasError('required') && comercioForm.get('tipoComerciosSeleccionados')?.touched" class="error-message" class="text-red-500 text-sm">
                      El tipo de comercio es obligatorio.
                    </div>
              </div>

              <!-- Ciudad -->
              <div>
                    <label for="ciudad" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ciudad</label>
                    <input  type="ciudad" name="ciudad" id="ciudad" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="Villa Carlos Paz" readonly>
              </div>

              <!-- Provincia -->
              <div>
                    <label for="provincia" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Provincia</label>
                    <input  type="provincia" name="provincia" id="provincia" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="Córdoba" readonly>
              </div>

              <!-- Calle -->
              <div>
                    <label for="calle" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Calle*</label>
                    <input formControlName="calle"  type="calle" name="calle" id="calle" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Calle" required>
                    <div *ngIf="comercioForm.get('calle')?.hasError('required') && comercioForm.get('calle')?.touched" class="error-message" class="text-red-500 text-sm">
                      El nombre de la calle es obligatorio.
                   </div>
                   <div *ngIf="comercioForm.get('calle')?.hasError('maxlength')" class="error-message text-red-500 text-sm">
                       El nombre de la calle no puede tener más de 50 caracteres.
                   </div>

              </div>

              <!-- Altura -->
              <div>
                    <label for="altura" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Altura*</label>
                    <input formControlName="altura" type="altura" name="altura" id="altura" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Altura" required>

                    <div *ngIf="comercioForm.get('altura')?.hasError('required') && comercioForm.get('altura')?.touched" class="error-message" class="text-red-500 text-sm">
                      La altura es obligatoria.
                   </div>
                   <div *ngIf="comercioForm.get('altura')?.hasError('pattern') && comercioForm.get('altura')?.touched" class="error-message" class="text-red-500 text-sm">
                    La altura debe ser números.
                   </div>
                   <div *ngIf="comercioForm.get('altura')?.hasError('maxlength')" class="error-message text-red-500 text-sm">
                    La altura no puede tener más de 50 caracteres.
                   </div>
              </div>

              <!-- Teléfono -->
              <div>
                    <label for="telefono" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Teléfono*</label>
                    <input formControlName="telefono" type="telefono" name="telefono" id="telefono" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Teléfono" >

                    <div *ngIf="comercioForm.get('telefono')?.hasError('required') && comercioForm.get('telefono')?.touched" class="error-message text-red-500 text-sm">
                      El telefono es obligatorio.
                    </div>
                    <div *ngIf="comercioForm.get('telefono')?.hasError('telefonoInvalido')" class="error-message text-red-500 text-sm">
                        Por favor, introduce un número de teléfono válido.
                    </div>
              </div>

              <!-- Métodos de Pago -->    
              <div>
                    <label for="metodoPago" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Métodos de Pago*</label>
                    <ul class="w-48 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                      <li *ngFor="let metodoPago of tiposmetodosPago" class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600">
                        <div class="flex items-center ps-3">
                          <label [for]="'metodoPago-' + metodoPago" class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                            <input 
                              type="checkbox" 
                              [checked]="getFormControl('metodosPagoSeleccionados.' + metodoPago).value"
                              (change)="toggleCheckbox('metodosPagoSeleccionados.' + metodoPago)"
                              [id]="'metodoPago-' + metodoPago"
                              [name]="'metodoPago-' + metodoPago"
                              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                            {{ metodoPago }}
                          </label>
                        </div>
                      </li>
                    </ul>

                    <div *ngIf="comercioForm.get('metodosPagoSeleccionados')?.hasError('required') && comercioForm.get('metodosPagoSeleccionados')?.touched" class="error-message" class="text-red-500 text-sm">
                      Los métodos de pago son obligatorios.
                    </div>
              </div>
              
              <!-- Sitio web -->    
              <div>
                    <label for="web" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Sitio web</label>
                    <input type="web" formControlName="web" name="web" id="web" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Sitio web" >

                    <div *ngIf="comercioForm.get('web')?.hasError('pattern')" class="error-message text-red-500 text-sm">
                      Por favor, un sitio web válido.
                    </div>
              </div>

              <!-- Descripcion -->
              <div>
                    <label for="descripcion" for="descripcion" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Descripción*</label>
                    <textarea formControlName="descripcion" id="message" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Descripción"></textarea>

                    <div *ngIf="comercioForm.get('descripcion')?.hasError('required') && comercioForm.get('descripcion')?.touched" class="error-message" class="text-red-500 text-sm">
                      La descripcion es obligatoria.
                    </div>
                    <div *ngIf="comercioForm.get('descripcion')?.hasError('maxlength')" class="error-message text-red-500 text-sm">
                      La descripcion no puede tener más de 1000 caracteres.
                    </div>
              </div>
              
              <!-- Imágenes -->
                <label for="imagenes" for="imagenes" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Imágenes*</label>

                <div formArrayName="imagenes" class="flex flex-col items-center justify-center w-full">
                    <ngx-dropzone (change)="agregarImagen($event)" class="flex flex-col items-center justify-center w-full border-1 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                      <ngx-dropzone-label>
                        <div class="flex flex-col items-center">
                          <div *ngIf="vistasPrevias.length === 0" class="flex flex-col items-center pt-5 pb-6">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M12 16.5V9.75m0 0 3 3m-3-3-3 3M6.75 19.5a4.5 4.5 0 0 1-1.41-8.775 5.25 5.25 0 0 1 10.233-2.33 3 3 0 0 1 3.758 3.848A3.752 3.752 0 0 1 18 19.5H6.75Z" />
                            </svg>
                            <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                            <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG, or GIF (MAX. 800x400px)</p>
                          </div>
                          <input id="dropzone-file" type="file" class="hidden" multiple name="imagenes" />
                          <div class="flex flex-wrap justify-center">
                            <div *ngFor="let vistaPrevia of vistasPrevias; let i = index" class="preview-item flex flex-col items-center mx-2 ">
                              <img [src]="vistaPrevia" alt="Imagen preview" class="w-20 h-20 object-cover mb-2 flex-shrink-0 mt-1" />
                              <!-- Añadido 'flex-shrink-0' para evitar que las imágenes se reduzcan excesivamente -->
                              <button (click)="eliminarImagen(i)" class="bg-red-500 text-white px-2 py-1 rounded text-xs">Eliminar</button>
                            </div>
                          </div>
                        </div>
                      </ngx-dropzone-label>
                    </ngx-dropzone>
                  </div>
                  
                  <div *ngIf="comercioForm.get('imagenes')?.hasError('required') && comercioForm.get('imagenes')?.touched" class="error-message" class="text-red-500 text-sm">
                    Las imagenes son obligatorias.
                  </div>

                <div class="flex">
                    <button type="submit" class="flex-1 justify-center rounded-md bg-red-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Registrar Local Gastronómico</button>
                </div>
            </form>
        </div>
    </div>
    </div>
    
  </div>

  <app-footer></app-footer>