<app-navbar></app-navbar>

<div class="bg-gray-50 px-8 py-14">
    
    <div class="sm:mx-auto sm:w-full sm:max-w-md shadow dark:border  py-4 bg-white">
        <img class="mx-auto h-auto w-auto" src="../../assets/logo3.png" alt="Your Company">
        <h1 class="mt-5 text-center text-2xl font-bold leading-9 tracking-tight text-gray-700">Registre su cuenta como empresario</h1>
    
    <p class="mt-2 text-center text-sm text-gray-500">
        ¿Ya tiene una cuenta? 
        <a href="/inicioSesion" class="font-semibold leading-6 text-red-600 hover:text-red-500">Inciar sesión</a>
    </p>
    
    <div  class="w-full  rounded-lg  md:mt-0 sm:max-w-md xl:p-0 ">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
            <form  [formGroup]="empresarioForm" (ngSubmit)="submitForm()" class="space-y-4 md:space-y-6" >
                
                <!-- Username -->
                <div>
                    <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre de Usuario*</label>
                    <input formControlName="username"  name="username" id="username" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Usuario" required>
                    <div *ngIf="empresarioForm.get('username')?.hasError('required') && empresarioForm.get('username')?.touched" class="error-message" class="text-red-500 text-sm">
                        El nombre de usuario es obligatorio.
                    </div>
                    <div *ngIf="empresarioForm.get('username')?.hasError('pattern') && empresarioForm.get('username')?.touched" class="error-message" class="text-red-500 text-sm">
                        El nombre de usuario no puede contener espacios ni símbolos.
                    </div>
                    <div *ngIf="empresarioForm.get('username')?.hasError('duplicateUsername')"  class="text-red-500 text-sm">
                        El nombre de usuario ya está en uso.
                    </div>
                    <div *ngIf="empresarioForm.get('username')?.hasError('maxlength')" class="error-message text-red-500 text-sm">
                        El nombre de usuario no puede tener más de 50 caracteres.
                    </div>
                    
                </div>
                
                <!-- Nombre -->
                <div>
                    <label for="nombre" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre Responsable*</label>
                    <input formControlName="nombre"  name="nombre" id="nombre" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Nombre" required>
                    <div *ngIf="empresarioForm.get('nombre')?.hasError('required') && empresarioForm.get('nombre')?.touched" class="error-message" class="text-red-500 text-sm">
                        El nombre del reponsable es obligatorio.
                    </div>
                    <div *ngIf="empresarioForm.get('nombre')?.hasError('pattern') && empresarioForm.get('nombre')?.touched" class="error-message" class="text-red-500 text-sm">
                        El nombre del reponsable no puede contener símbolos.
                     </div>
                     <div *ngIf="empresarioForm.get('nombre')?.hasError('maxlength')" class="error-message text-red-500 text-sm">
                        El nombre del reponsable no puede tener más de 50 caracteres.
                     </div>
                </div>
                
                <!-- Apellido -->
                <div>
                    <label for="apellido" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Apellido Responsable*</label>
                    <input formControlName="apellido"   name="apellido" id="apellido" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Apellido" required>
                    <div *ngIf="empresarioForm.get('apellido')?.hasError('required') && empresarioForm.get('apellido')?.touched" class="error-message" class="text-red-500 text-sm">
                        El apellido del reponsable es obligatorio.
                    </div>
                    <div *ngIf="empresarioForm.get('apellido')?.hasError('pattern') && empresarioForm.get('apellido')?.touched" class="error-message" class="text-red-500 text-sm">
                        El apellido del reponsable no puede contener símbolos.
                     </div>
                     <div *ngIf="empresarioForm.get('apellido')?.hasError('maxlength')" class="error-message text-red-500 text-sm">
                        El apellido del responsable no puede tener más de 50 caracteres.
                     </div>
                </div>

                <!-- Email -->
                <div>
                    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email*</label>
                    <input formControlName="email" type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Email" required>
                    <div *ngIf="empresarioForm.get('email')?.hasError('required') && empresarioForm.get('email')?.touched" class="error-message" class="text-red-500 text-sm">
                        El email es obligatorio.
                    </div>
                    <div *ngIf="empresarioForm.get('email')?.hasError('email') && empresarioForm.get('email')?.touched" class="error-message"  class="text-red-500 text-sm">
                        El formato del correo electrónico no es válido.
                    </div>
                    <div *ngIf="empresarioForm.get('email')?.hasError('duplicateEmail')" class="text-red-500 text-sm">
                        El correo electrónico ya está en uso.
                      </div>
                      <div *ngIf="empresarioForm.get('email')?.hasError('maxlength')" class="error-message text-red-500 text-sm">
                        El email no puede tener más de 50 caracteres.
                     </div>
                </div>
                
                <!-- Contraseña -->
                <div>
                    <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contraseña*</label>
                    <div class="relative">
                        <input formControlName="password" [type]="showPassword ? 'text' : 'password'" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <div class="absolute bottom-0 right-0 pb-2 pr-3 flex items-center">
                            <button type="button" (click)="togglePasswordVisibility('password')" class="focus:outline-none">
                                <!-- Ícono del ojo (abierto o cerrado) para el campo de Confirmar Contraseña -->
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                  <path
                                    [attr.d]="showConfirmPasswordIcon ? 'M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88' : 'M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z'"
                                  />
                                </svg>
                              </button>
                          </div>
                    </div>
                    
                    <div *ngIf="empresarioForm.get('password')?.hasError('required') && empresarioForm.get('password')?.touched" class="error-message" class="text-red-500 text-sm">
                        La contraseña es obligatoria.
                      </div>
                      <div *ngIf="empresarioForm.get('password')?.hasError('minlength') && empresarioForm.get('password')?.touched" class="error-message" class="text-red-500 text-sm">
                        La contraseña debe tener al menos 6 caracteres.
                      </div>
                      <div *ngIf="empresarioForm.get('password')?.hasError('passwordRequirements') && empresarioForm.get('password')?.touched" class="error-message" class="text-red-500 text-sm">
                        La contraseña debe contener al menos una letra y un número.
                      </div>
                      <div *ngIf="empresarioForm.get('password')?.hasError('maxlength')" class="error-message text-red-500 text-sm">
                        La contraseña no puede tener más de 50 caracteres.
                     </div>
                    
                </div>
                
                <!--  Confirmar contraseña -->
                <div>
                    <label for="confirm-password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirmar Contraseña*</label>
                    <div class="relative">
                        <input  formControlName="confirm_password" [type]="showConfirmPassword ? 'text' : 'password'" id="confirm-password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
                        <div class="absolute bottom-0 right-0 pb-2 pr-3 flex items-center">
                            <button type="button" (click)="togglePasswordVisibility('confirm_password')" class="focus:outline-none">
                                <!-- Ícono del ojo (abierto o cerrado) para el campo de Confirmar Contraseña -->
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                  <path
                                    [attr.d]="showConfirmPasswordIcon ? 'M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88' : 'M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z'"
                                  />
                                </svg>
                              </button>
                          </div>
                        </div>
                        <div *ngIf="empresarioForm.hasError('passwordMismatch') && empresarioForm.get('confirm_password')?.touched" class="error-message" class="text-red-500 text-sm">
                            Las contraseñas no coinciden.
                        </div>
                </div>

                <!-- Telefono -->
                <div>
                        <label for="telefono" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Teléfono*</label>
                        <input formControlName="telefono" type="telefono" name="telefono" id="telefono" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Telefono" required>
                        
                        <div *ngIf="empresarioForm.get('telefono')?.hasError('required') && empresarioForm.get('telefono')?.touched" class="error-message text-red-500 text-sm">
                            El telefono es obligatorio.
                        </div>
                        <div *ngIf="empresarioForm.get('telefono')?.hasError('telefonoInvalido')" class="error-message text-red-500 text-sm">
                            Por favor, introduce un número de teléfono válido.
                        </div>
                </div>

                <!-- Razon Social -->
                <div>
                    <label for="razonSocial" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Razón Social*</label>
                    <input formControlName="razonSocial" type="razonSocial" name="razonSocial" id="razonSocial" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Razón Social" required>
                    <div *ngIf="empresarioForm.get('razonSocial')?.hasError('required') && empresarioForm.get('razonSocial')?.touched" class="error-message" class="text-red-500 text-sm">
                        La razon social es obligatoria.
                    </div>
                    <div *ngIf="empresarioForm.get('razonSocial')?.hasError('maxlength')" class="error-message text-red-500 text-sm">
                        La razon social no puede tener más de 50 caracteres.
                    </div>
                </div>

                <!-- Nombre Establecimiento -->
                <div>
                    <label for="nombreEstablecimiento" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre Establecimiento*</label>
                    <input  formControlName="descripcion" type="nombreEstablecimiento" name="nombreEstablecimiento" id="nombreEstablecimiento" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Nombre Establecimiento" required>
                    <div *ngIf="empresarioForm.get('descripcion')?.hasError('required') && empresarioForm.get('descripcion')?.touched" class="error-message" class="text-red-500 text-sm">
                        El nombre establecimiento es obligatorio.
                    </div>
                    <div *ngIf="empresarioForm.get('descripcion')?.hasError('maxlength')" class="error-message text-red-500 text-sm">
                        El nombre establecimiento no puede tener más de 50 caracteres.
                    </div>
                </div>
                
                
                <div *ngIf="mensajeError" class="text-red-500 w-full text-center p-1">{{ mensajeError }}</div>
                <button type="submit" [disabled]="!empresarioForm.valid" class="flex w-full justify-center rounded-md bg-red-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Registrarse</button>
            </form>
        </div>
    </div>
    </div>
    
  </div>

  <app-footer></app-footer>